<!DOCTYPE html>
<div class="bottom-player" style="user-select: none;">
    <div class="bottom-player-container">
      <div class="left-side">
        <div class="bottom-player-image">
          <img src="../assets/images/placeholder.png" alt="Обложка альбома" draggable="false" data-role="album-art">
        </div>
        <div class="bottom-player-details">
          <h2 id="song-title" data-role="song-title"></h2>
          <p id="artist-name" data-role="artist-name"></p>
        </div>
      </div>
    </div>
    <div class="progress-container-bottom">
      <span id="current-time" class="time-info" data-role="current-time">0:00</span>
      <div class="progress-bar">
        <div id="progress" data-role="progress-bar"></div>
        <div class="progress-handle" data-role="progress-handle-bottom"></div>
      </div>
      <span id="duration" class="time-info" data-role="duration">0:00</span>
      <div class="right-side">
        <div class="control-bottom-container">
          <div class="control-bottom-btn-container">
            <button class="control-btn" id="volume-btn" data-role="volume-btn"><i class="fa-solid fa-volume-low"></i></button>
            <div class="volume-slider-wrapper">
              <div class="wrapper">
                <input type="range" min="0" max="100" value="50" data-role="volume-slider" />
              </div>
            </div>
            <button id="prev" class="control-btn" data-role="prev-btn"><i class="fa-solid fa-backward"></i></button>
            <button id="play" class="control-btn" data-role="play-btn"><i class="fa-solid fa-play"></i></button>
            <button id="next" class="control-btn" data-role="next-btn"><i class="fa-solid fa-forward"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../../player/player.js"></script>