.sidebar {
  width: 70px;
  background: var(--sidebar-bg);
  color: var(--sidebar-text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  box-shadow: 1px 0 0 0 #222;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-nav-top {
  gap: 15px;
  margin-top: 32px;
}

.sidebar-nav-bottom {
  gap: 32px;
  margin-bottom: 32px;
}

.sidebar-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  color: var(--sidebar-text);
  border-radius: 5px;
  font-size: 22px;
  transition: all 0.15s;
}

.sidebar-link svg {
 transition: all 0.3s;
}

.sidebar-link.active,
.sidebar-link:hover {
  background: var(--sidebar-hover);
  color: #fff;
  border-radius: 8px;
}

.sidebar-link.active svg {
 transform: scale(0.95);
}

.sidebar-link svg {
  width: 22px;
  height: 22px;
}

.sidebar-tooltip {
  position: absolute;
  left: 110%;
  top: 50%;
  transform: translateY(-50%);
  background: var(--sidebar-hover);
  color: #fff;
  margin-left: 10px;
  padding: 6px 14px;
  border-radius: 10px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  font-size: 15px;
  font-weight: 400;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  transition: opacity 0.15s, left 0.15s;
  z-index: 10;
}

.sidebar-link:hover .sidebar-tooltip {
  opacity: 1;
  left: 120%;
}
